################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlgAdv.MB01_02.Performance.Demo
/.vs/ZbW.AlgAdv/v17
