################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlgAdv.MB01_02.Performance.Demo
/.vs/ZbW.AlgAdv/v17
/AlgAdv.MB01_01.Performance.Intro/.vs/AlgAdv.MB01_01.Performance.Intro
/AlgAdv.MB01_01.Performance.Intro/AlgAdv.MB01_01.Performance.Intro/bin/Debug/net8.0
/.vs
/AlgAdv.MB02_02.FloatingPoint/.vs/FloatingPoint
